<div class="container-fluid p-3" style="background-color: rgb(0,128,11);">
    <div class="row text-light">
        <div class="col">
            <h3>
                <i class="fa-solid fa-fire"></i>
                CooksPedia 2025
            </h3>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque autem perspiciatis qui adipisci assumenda
                error atque dignissimos enim? Magni culpa eum reprehenderit cupiditate odit voluptate quas corporis
                molestiae, accusamus ad?
            </p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <h3>Links</h3>
            <ul>
                <li>
                    <a routerLink="/" class="text-warning">Home</a>
                </li>
                <li>
                    <a routerLink="/recipes" class="text-warning">Recipes</a>
                </li>
                <li>
                    <a routerLink="/about" class="text-warning">About</a>
                </li>
                <li>
                    <a routerLink="/contact" class="text-warning">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h3>FeedBacks</h3>

            <textarea name="" class="form-control" id=""></textarea>
            <button class="btn btn-primary mt-3">Send</button>
        </div>
    </div>

</div>