#intro{
    transition: transform 400ms;
}

#intro:hover{
    transform: scale(1.2) rotate(360deg);
}


#banner{
    background-image: url("https://t3.ftcdn.net/jpg/07/58/26/62/360_F_758266271_yksdY7RLYIIY6jofjJorjylEDOvgcuze.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 30px;
}

#banner-in{
    background-color: rgba(255,255,255,0.3);
    width: 70%;
    padding: 30px;
    text-shadow: 8px 8px 8px;
}